
.main-div {
    margin-top: 30px;
}


.journal-entry-input {
    width: 80%;
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid #BFC0C0;
}

.add-journal-label {
   
}

.date-label {
    margin-bottom: 10px;
}

.add-journal-entry-fieldset {
    width: 100%;
    margin: auto;
    text-align: left;
    padding-left: 20px;
}

.add-entry-header {
    height: 50px;
    width: 100%;
    border: 1px solid #BFC0C0;
    border-bottom: 0;
    margin: auto;
    background-color: #BFC0C0;
    padding-top: 10px; 
}


@media (min-width: 600px) {
    .journal-entry-input {
        width: 500px;
    }

    .add-journal-entry-fieldset  {
        width: 600px;
    }
    
    .add-entry-header {
        width: 600px;
    }
}