* {
    box-sizing: border-box;
}

.main-div {
    text-align: center;
    margin-top: 140px;
}

.add-trip-fieldset {
    text-align: left;
    width: 100%;
    /*  before width was --> width: 400px; */
    margin: auto;
    /* border: 1px solid black; */
    padding: 10px;
}

.add-trip-header {
    height: 50px;
    width: 100%;
    border: 1px solid #BFC0C0;
    border-bottom: 0;
    margin: auto;
    background-color: #BFC0C0;
    color: black;
    font-weight: bold;
    font-size: 24px;
    padding-top: 10px; 
}

label {
    display: block;
    margin-top: 30px;
}

input {
    margin-top: 10px;
    border: 1px solid #BFC0C0;
    height: 23px;
}

.trip-btn-container {
    text-align: center;
    margin: 30px 0px 20px;
}

.datepicker {
    width: 66px;
    margin-top: -10px;
}

@media (min-width: 400px) {
    .add-trip-header {
        width: 400px;
    }
    
    .add-trip-fieldset {
        width: 400px;
    }
}