* {
box-sizing: border-box;
}

h3 {
    font-size: 18px;
    font-family: 'Merriweather', serif;
    margin: 0px;
    color: black;
}

label {
    font-family: 'Nunito', sans-serif;
}

fieldset {
    border: 1px solid #BFC0C0;
}

.text-center {
    text-align: center;
}

.padding-top-one {
    padding-top: 60px;
}

.background-white {
    background: white;
}

.margin-auto {
    margin: auto;
}

@media (min-width: 400px) {
    h3 {
        font-size: 26px;
    }
}

