* {
box-sizing: border-box;
}

h3 {
    font-size: 26px;
    font-family: 'Merriweather', serif;
    margin: 0px;
    color: black;
}

label {
    font-family: 'Nunito', sans-serif;
}

fieldset {
    border: 1px solid #BFC0C0;
}