
.bgimg {
    height: 1228px;
    background-image: url('../mountains.jpg');
}

.home {
    text-align: center;
}

h2 {
    font-family: 'Merriweather', serif;
    margin: 0px;
    padding-top: 38px;

}

.welcome-text {
    font-size: 32px;

}

.sub-welcome-text {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.loader {
    border: 16px solid #2D3241;
    border-top: 16px solid grey; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    z-index: 2;
    left: 50%;
    margin-left: -60px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}